header {
    height: 113px;
    position: sticky;
    top: 0;
}

.v-align-mid {
    padding-top: 1.5%;
}

/*.outline {
    outline-style: solid;
    outline-width: 3px;
    outline-color: rgba(0, 0, 0, 0.178);
}*/