header {
    height: 113px;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.v-align-mid {
    padding-top: 25px;
}

.big-view {
    display: block;
}

.small-view {
    display: none;
}

.leftward {
    margin-right: 73px !important;
    width: 50px !important;
}

@media (max-width: 900px) {
   
    .big-view {
        display: none;
    }

    .small-view {
        display: inline;
        padding-right: 20px;
    }

    .v-align-mid {
        padding-top: 6px;
        margin-top: 37px;
        margin-right: 56px;
    }

}

/*.outline {
    outline-style: solid;
    outline-width: 3px;
    outline-color: rgba(0, 0, 0, 0.178);
}*/

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin: 2em auto;
    text-align: center;
    box-shadow: 0 0 30px rgb(97, 97, 97);
    
    

}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;

}

.footer{
    background-color: rgb(175, 173, 173);
}

article{
    text-align: center;
    font-size: 24px;
}

.row{
    display: flex;
}


