.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin: 2em auto;
    text-align: center;
    box-shadow: 0 0 30px rgb(97, 97, 97);
    
}

.card {
    background-color: #ffd3a0;
    
}

.tilaa-nappi {
    background-color: #ff0000;
    color:#F5FF11;
    border-radius: 20px;
    padding: 10px 20px;
}

.menu-logo {
    display: block;
    margin: 0 auto;
    justify-content: center;
}            

@media (max-width: 800px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 600px) {
    .cards {
        grid-template-columns: 1fr;
    }
}