/* Santerin Koodit */

@font-face {
    font-family: "Forte";
    src: url(FORTE.TTF), format('truetype');
}

header {
    height: 113px;
    width: 100%;
    position: fixed;
    z-index: 9999;
}

.footer-bottom{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.spacer{
    margin-top: 100px;
}

.v-align-mid {
    padding-top: 25px;
}

.big-view {
    display: block;
}

.small-view {
    display: none;
}

.leftward {
    margin-right: 73px !important;
    width: 50px !important;
}

.flag {
    height: 3%;
    width: 3%;
    outline-style: solid;
    outline-width: 2px;
    outline-color: rgb(0, 0, 0);
}

.pizeria-button {
    color: #f5ff11 !important;
    background-color: #ff0000 !important;
    border-color: #f5ff11 !important;
}

.pizeria-dropdown {
    --bs-dropdown-bg: #ff0000;
    --bs-dropdown-border-color: #f5ff11;
}

.alert-pizeria {
    color: #f5ff11;
    background-color: #ff0000;
    border-color: #f5ff11;
    font-family: Forte;
}

.the-funny-links {
    font-family: Forte;
}

a:link {
    color: #f5ff11;
}

a:visited {
    color: #f5ff11;
}

a:hover {
    color: #d3dd0e;
}

.home {
    height: 500px;
}

html, body {
    overflow-x: hidden;
}

body {
    background-image: url(food-3203445_1280.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

@media (max-width: 900px) {
   
    .big-view {
        display: none;
    }

    .small-view {
        display: inline;
        padding-right: 20px;
    }

    .v-align-mid {
        padding-top: 6px;
        margin-top: 37px;
        margin-right: -30px;
    }

}

/*.outline {
    outline-style: solid;
    outline-width: 3px;
    outline-color: rgba(0, 0, 0, 0.178);
}*/

/* jannen koodit */

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin: 1em 2em 2em 2em;
    text-align: center;
    box-shadow: 0 0 30px rgb(97, 97, 97);
    
}

.card {
    background-color: #ffd3a0;
    
}

.tilaa-nappi {
    background-color: #ff0000;
    color:#F5FF11;
    border-radius: 20px;
    padding: 10px 20px;
    border-color: #F5FF11;
}

.menu-logo {
    display: block;
    margin: 0 auto;
    justify-content: center;
}            

@media (max-width: 850px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 600px) {
    .cards {
        grid-template-columns: 1fr;
    }
}

/* artun koodit */

.footer{
    background-color: rgb(175, 173, 173);
}

article{
    text-align: center;
    font-size: 24px;
}

.row{
    display: flex;
}


